<div ">
    <!-- navbar -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href='/'>MEDI_Search</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>
            <form action="/search" method="POST" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" name="searchname">
                <button class=" btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>



    </nav>



    <div class="container" style="margin-top:5em;display:grid;grid-template-columns: 1fr 1fr 1fr;">
        <%- include ("./partials/disease"); %>
    </div>
</div>